* {
    font-family: 'Arial', sans-serif;
}

body {
    background: #eee;
}

.app-container {
    max-width: 600px;
    margin: 2em auto;
}

.turkish-letters {
    margin-top: 1em;

    button {
        margin-right: 0.5em!important;
        margin-bottom: 0.5em!important;
    }
}