.dictionary-wrapper {
  background: #34495e;
  //margin-top: -100px;
  box-shadow: 0 3px 5px rgba(0,0,0,.2);
  border-radius: 5px;
}

.means-wrapper {
  background: #fff;
  box-shadow: 0 3px 5px rgba(0,0,0,.2);
  border-radius: 5px;
}
