$inputHeight: 60px !important;

.input-group {
  input {
    height: $inputHeight;
  }

  button {
    height: $inputHeight;
    aspect-ratio: 1/1;
    background-color: #2ecc71;
    color: #fff !important;

    &:hover {
      color: #fff !important;;
    }
  }
}

.turkish-char-buttons {
  button {
    width: 40px;
    height: 40px;
    margin-right: 15px;
    background-color: #2ecc71;
    color: #fff !important;

    &:hover {
      color: #fff !important;;
    }
  }
}

