.mean-word {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;

  h3 {
    margin: 0;
    padding: 0;
  }

  button {
    color: #3498db;
    width: 40px;
    height: 40px;
    padding: 0;
    margin-left: 15px;

    &:hover {
      color: #3498db;
      opacity: .8;
    }

    &:focus {
      outline: 0 !important;
      box-shadow: none;
    }
  }

  .word {
    color: #3498db;
  }
}

ul.mean-list {
  margin: 0;
  padding: 0;

  li {
    font-size: 16px;
    list-style: none;
    border-bottom: 1px solid #ddd;
    width: 100%;

    &:last-child {
      border: 0;
    }
  }
}
